/* XXXX-动作 */
/* 入场前 */
.boss-text-enter{
    opacity: 0;
}
/* 入场到入场结束 */
.boss-text-enter-active{
    opacity: 1; 
    transition: opacity 2000ms;
}
/* 入场结束 */
.boss-text-enter-done{
    opacity: 1;
}

/* 离场前 */
.boss-text-exit{
    opacity: 1;
}
/* 离场到离场结束 */
.boss-text-exit-active{
    opacity: 0;
    transition: opacity 2000ms;
}
/* 离场结束 */
.boss-text-exit-done{
    opacity: 0;
}
